*{
    margin: 0%;
    background-color: #F2EFE7;
    font-family: 'Press Start 2P', cursive; 
    font-size: 10px;
}

.main-wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.temp-container{
    width: 200px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

.container1 {
    max-width: 200px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container2{
    width: 200px;
    max-height: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input{
    padding: 10px;
    display: block;
    margin: 0 auto;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    width: 180px;
    height: 15px;
}

.btn-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}



button{
    display: inline-block;
    border-style: solid;
    border-radius: 5px;
    height: 45px;
    width: 45px;
}

button:hover{
    scale: 1.07;
}

.equals{
    width: 95px;
    grid-column: span 2;
}

#title{
    font-family: 'Press Start 2P', cursive; 
    margin-top: 7vh;
    text-align: center;
    font-size: 30px;
    color: #2973B2;
    margin-bottom: 5vh;
}

#history-label{
    display: flex;
    justify-content: center;
    color: #48A6A7;
}

#history-expression{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 12px;
    list-style: circle;
}

#history-value{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 12px;
}
